html {
    font-size: 75%;
}

body {
    font-family: arial, helvetica, sans-serif;
    line-height: 1.4em;
    font-size: 1.2em;
    padding: 5%;
}
#slideshow {
    width: 960px;
    background-color: #eee;
    border: 1px solid #ddd;
}

#slideshow ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 1%;
}

#slideshow ul:after {
    content: " ";
    display: table;
    clear: both;
}

#slideshow .slides {
    overflow: hidden;
    width: 960px;
}

#slideshow .slides ul {
    width: 2880px;
}

#slideshow .slides li {
    width: 920px;
    float: left;
    padding: 20px;
}

#slideshow .slides h2 {
    margin-top: 0;
}

#slideshow .slides-nav {
    background-color: #ddd;
    border-top: 2px solid #ccc;
}

#slideshow .slides-nav li {
    float: left;
}

#slideshow .slides-nav li a {
    display: block;
    padding: 15px 20px;
    outline: none;
}

#slideshow .slides-nav li.on,
#slideshow .slides-nav li.on a {
    background-color: #eee;
}

#slideshow .slides-nav li.on a {
    position: relative;
    top: -4px;
}